.button {
    height: 42px;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;

    border: 1px solid #0D9344;
    background-color: #0D9344;
}

.button:hover {
    cursor: pointer;
    
    border: 1px solid #10bf59;
    background-color: #10bf59;
}

.button:active {    
    transform: translateY(1px);
}

.button.red {
    border: 1px solid red;
    background-color: red;
}
.button.red:hover {
    border: 1px solid rgb(255, 70, 70);
    background-color: rgb(255, 70, 70);
}

.button:disabled {
    background-color: gray;
    border: 1px solid gray;
    cursor: not-allowed;
}

.button.white {
    border: 2px solid #0D9344;
    background-color: white;
    color: #0D9344;
}
.button.white:hover {
    border: 2px solid #10bf59;
    color: #10bf59;
}